.container{
    margin: 0 auto;
    padding-top: 100px;
}
img{
    margin-left: 480px;
    width: 250px;
    padding-bottom: 100px;
}

.heading{
    font-weight: 600;
    text-align: center;
}
h1{
    font-weight: 100;
    text-align: center;
}
.site{
    height: 700px;
}