<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
        <i style="font-size:30px;color:white;margin-left:62px;margin-right: 20px;margin-top:8px;" class="fas fa-tag"></i>
        <strong style="color:white;font-size:30px;">Furniture Store Sofia </strong>
    </div>
    <button class="btn btn-dark">
        <i style="font-size:30px;" routerLink="/cart" class="fas fa-shopping-cart"> </i> 
        
        <!-- class="fas fa-cart-plus" -->
        <div style="font-size:10px" class="badge bg-dark">0</div>
    </button>
    </div> 
</header> 

