.card img{
    width: 300px;
    height: 300px;
    margin-bottom: 40px;
    margin-left: 40px;
    transition: 0.3s ease-in-out;
}
.card img:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.3); 
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding: 20px;
    min-width: 0;
    border: none;
}
.site{
    height: 1600px;
}