@import url(https://use.fontawesome.com/releases/v5.15.4/css/all.css);

.welcome{
    background-size: 100% auto;
    background-position:  center -30em;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
}

.section-intro{
    position: absolute;
}
.section-intro h1 {
    font-size: 60px;
    text-shadow: 2px 4px black;
}

.text{
    width: 100%;
    height: 20px;
    background-color: rgba(46, 37, 42, 1);
}

.mission{
    margin: 0 auto;
    padding-top: 150px;
    height: 800px;
    max-width: 1200px;
}

.points img{
    width: 350px;
    height: 250px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.points{
    display: flex;
    margin-left: 12%;
    padding-bottom: 50px;
}

.pic{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: grey;
    font-weight: 300;
    max-width: 350px;
    margin-left: 30px;
    background-color: rgba(241, 243, 244, 1);
    padding-bottom: 20px;
    border-radius: 30px;
}

.pic:hover{
    transition: 0.2s ease-in;
    transform: scale(1.1);
}

.pic_txt{
    padding: 20px;
}

.join{
    border-radius: 3%;
    margin-top:200px;
    margin: 0 auto;
    background-color: white;
    max-width: 900px;
    height: 500px;
    padding: 50px;
}

.site{
    height: 2350px;
}