<div class="site">
    <div class="text">
    </div>
    <div class="welcome" style="background-image: url(../../../assets/background.jpg);">
        <section class="section-intro">
        
            <h1 style="color: white; margin-left: 390px; margin-top: 150px;">Welcome to Furniture House Sofia</h1>
            <br>
            <br>
                <br>
                <div style="display: flex; margin-left: 640px">
                    <p style="box-shadow: 5px 4px 15px #888888;background-color: black;color:white; padding:20px; max-width: 240px;border-radius: 10px; margin-right: 20px;"><i class="fab fa-twitter" style="padding-right: 5px;"></i> Follow us on Twitter</p>
                    <p style="box-shadow: 5px 4px 15px #888888;background-color: black;color:white; padding:20px; max-width: 240px;border-radius: 10px;"><i class="fab fa-instagram" style="padding-right: 5px;"></i> Visit our page on Instagram</p>
                </div>
        </section>
    </div>
    <div class="text">
    </div>

    <div class="mission">
        <h1 style="text-align: center;font-size: 50px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Our Mission</h1>
        <br>
        <hr style="width: 500px; margin: 0 auto">
        <br>
        <br>
        <p style="font-size: 30px;line-height: 1.5em ;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
              We believe that quality, American made furniture is increasingly harder to come by. We strive to build unique, handcrafted furniture, built to last, built to be handed down for generations to come.
            Allow us to take your vision for your home and make it a reality. With many unique custom finishes, rustic styles and sizes to choose from, our furniture is sure to satisfy your unique solid wood furniture needs. Many clients come from hundreds of miles away to sit down, perfect their order and actually see our family building their family’s furniture! We are your best choice for any rustic furniture, reclaimed wood, country furniture & Amish style furniture!</p>
    </div>

    <div class="points">
        <div class="pic">
            <img src="../../../assets/bedroom.jpg" alt="">
            <div class="pic_txt">
                <p>Whether it's a primary bedroom and bathroom suite or comfy guest room and powder room, we have the best bed and bath accessories to create a space that is fresh and inviting. From duvet covers to towels and shower rugs and bath mats, you will find exclusive patterns in stylish colors. </p>
            </div>
        </div>
        <div class="pic">
            <img src="../../../assets/dining_room.jpg" alt="">
            <div class="pic_txt">
                <p>Make it easy to create your favorite meals and recipes at home with cookware, bakeware, kitchen utensils and appliances. If you are keen on quality, you have come to the right place. Read on to learn more about the benefits and uses of various kitchen and houseware necessities.</p>
            </div>
        </div>
        <div class="pic">
            <img src="../../../assets/living_room.jpg" alt="">
            <div class="pic_txt">
                <p>Whether you love entertaining or need table place settings for everyday meals, our high-quality modern tableware combines style and durability for a complete luxury experience. Not sure how to set the table? It's both simple and fun; read on to learn more.</p>
            </div>
        </div>
    </div>

</div>
