<div @fadeIn class="container" style="padding-top: 50px;padding-bottom: 100px;">
    <div class="row" >
        <div class="card col-md-3" style="width: 600px; margin: 0 auto; padding: 50px; border-style:groove ">

            <img style="max-width: 90%;padding-top: 30px;padding-bottom: 50px; margin: 0 auto" src={{productData.image}} alt="">
            <h1 style="text-align: center;">{{productData.title}}</h1>
            <h3 >{{productData.description}}</h3>
            <h2 style="text-align: center;"><strong>Price:</strong> {{productData.price}} $</h2>
            <button routerLink="/products" style="height:80px;width:250px;margin: 0 auto" class="btn btn-dark">Shop More</button> 
        </div>
    </div>
</div> 