<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-md-3" >
            <h6>Locations</h6>
            <ul class="footer-links">
              <li> lane “ Okolovrasten pat” 216, 1434 Simeonovo - Sever, Sofia</li>
              <br>
              <li>Street “Ivan Vazov” 145, 1892 Ovcha Kupel - Zapad, Sofia</li>
            </ul>
          </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li>Furniture</li>
            <li>Beds</li>
            <li>Tables</li>
            <li>Desks</li>
            <li>Chairs</li>
            <li>Sofas</li>
            <li>Arm chairs</li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
            <h6>Contact Us</h6>
            <ul class="footer-links">
              <li>Email: furnituresofia@gmail.com</li>
              <li>Phone: +359 88 505 3315</li>
              <li>Fax: +359 88 325 3432</li>
            </ul>
          </div>

      </div>
      <br>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by Furniture House Sofia.
          </p>
        </div>

        
      </div>
    </div>
</footer>