.example-form{
    max-width: 200px;
    margin-left: 250px;
}

.example-full-width{
    max-width: 800px;
    margin: auto;
    width: 350px;
}
mat-card{
    max-width: 800px;
    margin-left: 300px;
    margin-bottom: 200px;
    padding-bottom: 20px;
}
div{
    display: flex;
    column-gap: 90px;
    width: 500px;
}