<mat-card>
    <mat-card-header>
        <h1 style="margin:0 auto;padding-bottom: 1em;">Sign Up</h1> 
    </mat-card-header>
    <mat-card-content>
        <form class="example-form" [formGroup]="registerform" (ngSubmit)="proceedRegister()"> 
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput formControlName="id">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password">
            </mat-form-field>

            <mat-radio-group formControlName="gender" appearance="outline" aria-label="Select an option">
                <mat-radio-button value="male">Male</mat-radio-button>
                <mat-radio-button value="female">Female</mat-radio-button>
            </mat-radio-group>

            <div>
                <button mat-raised-button style="background-color: black;color: white">Submit</button>
                <button routerLink="/login" mat-raised-button style="background-color: black;color: white">Already registered?</button>
            </div>

        </form>
    </mat-card-content>
</mat-card>